// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
	text-align: center;
}

.text1{
	font-size: 60px;

	margin:5px auto 180px;
}

.text2{
	font-size: 25px;
	margin-bottom: 70px;
}
.about-text1{
	text-align: center;
	margin-bottom: 80px;
}
.about-text3{
     font-size: 22px;
}
.about-row{
	margin:60px;
}
.about-image2{
	padding-left: 40px;
}
.about-text4{
margin-bottom: 20px;
text-align: center;
font-size: 28px;
}
.about-text4:last-child{
	margin-bottom: 90px;
}
.about-text5{
	font-size: 22px;
	margin-top: 50px;
}