<td id="agree-<%= hope_question.id %>" class="hope_question-td-index">
  <%= render partial: "public/agrees/agree", locals: { hope_question: hope_question } %>
  <%= hope_question.agrees.count %>賛成
</td>