<div class="container">
	<div class="about-text1">
		<h1 class="about-text5">・Tell Meにアクセスいただき、ありがとうございます！<h1>
			<h1 class="about-text5">・Tell Meは、ビシネスや社交的な場でのコミュニケーションを円滑に進める手助けをするアプリです！</h1>
			<h1 class="about-text5">・Tell Meは主に、以下の３つのシーンでお使いいただけます！</h1>
		</div>

		<div class="row about-row">
			<div class="col-xs-6">
				<h2 class="about-text2">⓵自分を他者に知ってもらいたい！</h2>

				<p class="about-text3">☆営業や接客業の方は、「お客様ともっと打ちとけたい！」と思ったことが一度はあるかと思います。しかし、両者ともに時間が限られており、短い時間であなたのことを知ってもらうには長い時間を要すると思います。かと言って、SNSを教えるのは少しプライベートの空間過ぎますよね。でも、安心してください。Tell Meはビジネスや社交的な場でのあなたのコミュニケーションをサポートするアプリです。名刺に一行、あなたのマイページURLを添えてみませんか？より深い親交をTell Meが手助けします！</p>
			</div>
			<div class="col-xs-6">
				<%= image_tag asset_path('card.jpg') ,:size =>'540x400', class: "about-img" %>
			</div>
		</div>

		<div class="row about-row2">

			<div class="col-xs-6">
				<%= image_tag asset_path('business.jpeg') ,:size =>'540x400', class: "about-img" %>
			</div>

			<div class="col-xs-6">
				<h2 class="about-text2 about-image2">⓶相手のことをもっと知りたい！</h2>

				<p class="about-text3 about-image2">☆なかなか会えなかったり、一度しかお会いできなかったお客様でも、もしかしたらあなたとの共通点は意外に多くあるかもしれません。初対面でお互いを十分、知るには時間がかかりますよね。一期一会なこの世界、もしかしたら心から打ちとけえるはずだった人との出会いをが相手のことを知らないままに、なおざりになっているかもしれません。でも、Tell Meがあればもう大丈夫です！見やすい一問一答が、短い時間で相手のことを教えてくれます！</p>
			</div>




		</div>

		<div class="row about-row">
			<div class="col-xs-6">
				<h2 class="about-text2">⓷話題を探したい！</h2>
				<p class="about-text3">☆もう既に仲が良い人同士でも、Tell Meはご利用いただけます！話尽くして、「会話が無くなったなあ」と思った時。話題作り、時間潰しとしてもTell Meを使ってはみませんか？数ある質問の中から、まだ、お互いが話したことないようなテーマについて話し合って回答を作ってみましょう！あなたは意外と相手のことを知っていないかもしれませんよ？新たな共通の事柄や相手の一面を見つけ出して、より仲を深めましょう！</p>
			</div>
			<div class="col-xs-6">
				<%= image_tag asset_path('talk.jpeg') ,:size =>'540x400', class: "about-img" %>
			</div>
		</div>

		<p class="about-text4">☆いかがでしょうか？</p>
		<p class="about-text6">便利かも！って思った経験があなたにも一度はあるんじゃないでしょうか？</p>
		<p class="about-text7">初対面のコミュニケーションは相手を気遣いながら、行う難しいものです。</p>
		<p class="about-text8">緊張して聞きたかったことも後から聞くのを忘れてた！なんてこともあるか思います。</p>
		<p class="about-text9">大切な一期一会の出会いを、もっと大切にしませんか？</p>
		<p class="about-text10">是非、Tell Meを使った新しい生活を始めてみてください！</p>
