
<h1 class="answers-title">Answers</h1>

<h3 class="answers-title1">Q,<%= @question.title %></h3>

<table class="table-borderless answers-table1">
	<% @answers.each do |answer| %>
	<tr>
		<td class="answers-td">回答者:<%= link_to "#{ answer.user.first_name } #{ answer.user.last_name }" ,admin_user_path(answer.user.id) %></td>
		<td class="answers-td">A.<%= answer.body %></td>
		<td class="answers-td"><%= link_to "delete" ,admin_question_answer_path(@question.id,answer.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
	</tr>
	<% end %>
</table>