// Place all the styles related to the admin/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.a_question-new-box{
	margin: 0 auto;
	width: 60%;
	text-align: left;
}
.a_question-new-text1{
	font-size: 30px;
}
.a_question-new-text{
	font-size: 40px;

}
.a_question-new-box2{
	margin: 0 auto;
	width: 80%;
}
.a_question-new-btn{
	text-align: left;
}
.f_box-a_question{
	margin: 0 auto;
}
.a_question-text3{
	font-size: 26px;
	margin-right: 30%;
}
.a_question-form1{
	font-size: 16px;
}