// Place all the styles related to the admin/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.a_question-new-box{
	margin: 0 auto;
	width: 60%;
	text-align: left;
}
.a_question-new-text1{
	font-size: 30px;
}
.a_question-new-text{
	font-size: 40px;

}
.a_question-new-box2{
	margin: 0 auto;
	width: 80%;
}
.a_question-new-btn{
	text-align: left;
}
.f_box-a_question{
	margin: 0 auto;
}
.a_question-text3{
	font-size: 28px;
	margin-right: 40%;
}
.a_question-form1{
	font-size: 18px;
}

.a_question-box-index{
	text-align: center;
}
.a_question-title-index{
	font-size: 40px;
	display: inline-block;
	margin-right: 80px;
}
.a_question-text2-index{
	font-size: 20px;
	display: inline-block;
	margin-right: 40%;
}
.a_question-table-index{
	margin: 50px auto;
	width: 70%;
}
.a_question-td-index{
	height:70px;
	font-size: 18px;
	text-align: left;
}
.a_question-box-new{
	text-align: center;
}
.a_question-title2-new{
	padding-right: 50%;
	margin-bottom: 50px;
	font-size: 34px;

}
.a_question-btn-new{
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left:30%;
	font-size: 22px;
}
@media screen and (max-width:1024px){
	.a_question-text2-index{
		font-size: 20px;
		display: inline-block;
		margin-right: 30%;
	}
	.a_question-text3{
		font-size: 28px;
		margin-right: 60%;
	}
}
@media screen and (max-width:425px){
	.a_question-title-index{
		font-size: 26px;
		margin-right: 50%;
		margin-bottom: 30px;
	}
	.a_question-text2-index{
		font-size: 14px;
		margin-right: 40%;
	}
	.a_question-table-index{
		margin: 30px auto;
		width: 80%;
	}
	.a_question-td-index{
		height:70px;
		font-size: 8px;
		text-align: left;
	}
	.a_question-td-index:nth-child(1){
		width: 56%;
	}
	.a_question-title2-new{
		padding-right: 50%;
		margin-bottom: 50px;
		font-size: 20px;

	}
	.a_question-btn-new{
		margin-top: 20px;
		margin-bottom: 40px;
		padding-left:50%;
		font-size: 12px;
	}
	.a_question-text3{
		font-size: 16px;
		margin-right: 50%;
	}
	.a_question-form1{
		font-size: 10px;
	}
}