
<div class="a_question-box-new">
	<h1 class="a_question-title2-new">質問編集</h1>

<div class="a_question-new-box2">
		<p class="a_question-text3">Question:</p>

<%= form_for(@question, url:"/admin/questions/#{@question.id}") do |f| %>
　<div class="a_question-form1"><%= f.text_area :title, :size=>"42" %></div>
　<div class="a_question-btn-new"><%= f.submit '更新する' %></div>

<% end %>