/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

// ヘッダー関連

.headers{
	position: relative;
	height: 200px;
	width: 100%;
	margin: 20px auto;
	background-color: #FFFFE0;
}

.title{
	font-size: 60px;
	position: absolute;
	top:25%;
	left:20px;
}

.navs{
	text-align: right;
	position: absolute;
	top:46%;
	right: 3%;
}

.form{
	text-align: right;
	position: absolute;
	top:33%;
	right: 5%;
}

// device関連

.d-form{
	text-align: center;
}

.d-text1{
	font-size: 38px;
	margin-bottom: 50px;
}

.d-text2{
	font-size: 25px;
	padding-right: 22%;
	margin-bottom: 15px;
}

.d-text3{
	font-size: 18px;
	margin-bottom: 30px;
}

.d-text4{
	margin: 15px auto 30px;
}

.d-table{
	margin: 0px auto;
	width: 60%;
}

.d-td{
	height: 40px;
}
.last-d-new{
	margin-bottom: 60px;
}
.d-pass-fix{
	margin: 50px auto;
}
@media screen and (max-width:425px){
.headers{
	position: relative;
	height: 140px;
	width: 100%;
	margin: 10px auto;
	background-color: #FFFFE0;
}
.title{
	font-size: 30px;
	position: absolute;
	top:20%;
	left:20px;
}

.navs{
	text-align: right;
	position: absolute;
	top:80%;
	font-size: 1px;
}

.form{
	text-align: right;
	position: absolute;
	top:60%;
}

.d-table{
	margin: 0px auto;
	width: 90%;
}
.d-td{
	height: 20px;
	font-size: 2px;
}
.d-text1{
	font-size: 16px;
	margin-bottom: 50px;
}
.d-text2{
	font-size: 20px;
	text-align: left;
	padding-left: 30px;
	margin-bottom: 15px;
}
.d-text3{
	font-size: 14px;
	margin-bottom: 30px;
}
.d-registration{
    font-size: 26px;
}
}